* {
  color: tomato; }

.blur > * {
  opacity: 0;
  animation: animateBlur 3s forwards; }

.blur li:nth-child(1) {
  animation-delay: 0s; }

.blur li:nth-child(2) {
  animation-delay: 1s; }

.blur li:nth-child(3) {
  animation-delay: 2s; }

.blur li:nth-child(4) {
  animation-delay: 3s; }

.blur li:nth-child(5) {
  animation-delay: 4s; }

.blur li:nth-child(6) {
  animation-delay: 5s; }

.blur li:nth-child(7) {
  animation-delay: 6s; }

.blur li:nth-child(8) {
  animation-delay: 7s; }

.blur li:nth-child(9) {
  animation-delay: 8s; }

.blur li:nth-child(10) {
  animation-delay: 9s; }

.blur li:nth-child(11) {
  animation-delay: 10s; }

.blur ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  .blur ul a {
    color: lime; }
    .blur ul a:hover {
      text-decoration: none; }

@keyframes animateBlur {
  from {
    opacity: 1;
    text-shadow: 0 0 1em rgba(0, 0, 0, 0.5); }
  to {
    opacity: 1;
    text-shadow: 0 0 0px rgba(0, 0, 0, 0); } }
